body{
    background-color: #000000;
    color: #ff9100;
    font-family: Durer;
    font-size: 20px;
    background: url(./ressources/menu-background-img.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0%;
}

#titre{
    font-size: 200px;
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    transition: 0.3s
}

#titre:hover{
    color: #ffd900;
}

a{
    font-size: 30px;
    position: absolute;
    /* text-align: center; */
    left: 26.5%;
    top: 60%;
    color: #ff9100;
    text-decoration: none;
    transition: 0.3s
    /* background-color: red; */
}

a:hover{
    color: #ffd900;
}

